.sociall-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sociall-list__item {
  .footer__sociall &:not(:last-child) {
    margin-right: 10px;
  }
}

.sociall-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--brend-accent-color);
  }

  .footer__sociall & {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer__sociall &:hover,
  .footer__sociall &:focus {
    background-color: var(--brend-accent-color);
  }
}

.sociall-list__icon {
  fill: var(--social-svg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .sociall-list__link:hover &,
  .sociall-list__link:focus & {
    fill: var(--white-color);
  }
}

.sociall-list__icon {
  .footer__sociall & {
    fill: var(--white-color);
  }
}
